body {
  font-family:sans-serif;
}

nav ul li a:link, nav ul li a:visited {
  color: #49989c;
}
nav ul li {
  font-size: .95em;
  text-transform: uppercase;
  flex: none;
}
nav ul li a {
  display: block;
  border: 1px solid;
  padding: .4em 1em;
  border-radius: 1.5em;
  margin: .25em;
}
nav ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.locate{
  text-align:right;
}
nav li {
  list-style: none;
  margin-top: 10px;
  padding-right: 15px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li a {
  text-decoration: none;
  border-style: solid;
  border-color:#49989c;
  border-spacing: 20px;
}

nav li p{
  display: block;
  font-size:.95em;
  border: 1px solid;
  padding: .4em 1em;
  border-radius: 1.5em;
  margin: .25em;
  color: #49989c;
}

nav .dropdownBar {
  position: absolute;
  border-top-width: 0px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav .dropdownBar li a {
  border-left-width: 0px;
  border-top: 1px solid #49989c;
  background-color: white;
  color: #49989c;
}

nav .dropdownBar li{
  padding-right: 0;
  margin: 5px 0;
}

nav li a:hover{
  text-decoration: underline;
}

#eventDropdown{
  background-color: #f8f8f8;
}

h1 {
  color: black;
  font-family:cursive;
  font-size: 70px;
  text-decoration: #49989c underline;
  text-align: center;
  margin: 0 auto;
  display:block;
}
h2 {
  color: white;
  text-align: center;
  text-decoration:black underline;
  font-size: 30px;
  font-family:garamond;
  padding: 0;
  background-color:#49989c;
}
h3 {
  color: white;
  text-align: center;
  text-decoration:black underline;
  font-size: 30px;
  font-family:garamond;
  padding: 0;
  background-color:#49989c;
}
h4 {
  color: #49989c;
  text-align: center;
  text-decoration:rgb(24, 68, 142) underline;
  font-size: 30px;
  font-family:garamond;
  padding: 0;
  background-color:#f8f8f8;
  justify-content: center;
}
h5 {
  color: #49989c;
  text-align: center;
  text-decoration:white underline;
  font-size: 30px;
  font-family:garamond;
  padding: 0;
  background-color:#dbdbdb;
}
li {
  color: black;
  font-family: georgia;
  padding: 0;
  text-align:center;
  list-style-position: inside;

}

.expander h4:hover{
  font-size: 2.2rem;

}
.contact{
  text-align:center;
  font-size: 15px;
  padding:0;

}
.instructors_1{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  padding: 0px;
  margin:0;
  align-items: center;
}

.instructors_1 p{
  text-align:center;
  font-size: 12px;
  padding:0;
  align-items: center;

}
.instructors_1 h4{
  text-align: center;
  font-size: 30px;
  justify-content: center;
  display:flex;
  color:#49989c;
  background-color: #f8f8f8;

}
.instructors_2 p{
  text-align:center;
  font-size: 12px;
  padding:0;
  align-items: center;

}
.instructors_2 h4{
  text-align: center;
  font-size: 30px;
  justify-content: center;
  display:flex;
  color:#49989c;
  background-color: #f8f8f8;
}

.president p{
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content: center;

}

em{
  color:black;
  font-size:15px;
  padding:0;
}
.instructors_2 {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  text-align: center;
  text-align-last: left;

}
figcaption {
  text-align: center;
  justify-content: center;
  font-size: 10px;
}
.images_home, .topimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
img .images_home {
  flex-direction: row;
}

p {
  color: black;
  font-size: 20px;
  text-align:center;
  font-family:georgia;
}

.questions{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: flex-start;
  margin: 0 auto;
}

.error{
  background-color: #49989c;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 2px 5px 2px 2px;
  margin-top: 5px;
}

.hidden{
  display: none !important;
}

.form_block{
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}

.question{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

select{
  display: block;
}

.text_input,textarea{
  display: block;
  width: 100%;
}

#name:focus,textarea:focus,select:focus{
  outline: none;
  border: 2px solid #49989c;
}

option:hover{
  background-color: #49989c;
}

.checkoption{
  margin-bottom: 5px;
}

.position_explanation{
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 50px;
}

.position_explanation p{
  display: block;
  text-align: left;
  font-size: 16px;
  margin-bottom: 30px;
}

.submit{
  align-self: flex-end;
  margin-right: 25px;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  color: #49989c;
  font-weight: bold;
}

.submit:hover{
  background-color: #49989c;
  border-color: #49989c;
  color: white;
}


button:hover{
  background-color: #49989c;
  border-color: #49989c;
  color: white;
}

.showpic{
  margin: 0 auto;
  text-align: center;
}

.showbutton{
  margin: 0 auto;
  text-align: center;
}

#slide_left{
  padding: 5px 12px 5px 12px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#slide_right{
  padding: 5px 12px 5px 12px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.gallery_text p{
  font-size: 16px;
}

.row1,.row2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.photoblock{
  display: flex;
  flex-direction: column;
}

.photoblock p{
  font-size: 16px;
  margin-top: 5px;
}

.dropdownContent{
  display : none;
}

#dropdown:hover .dropdownContent{display:block;}


@media (max-width: 800px){
  nav{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  nav ul li{
    width: 40%;
    display: inline-block;
    text-align: center;
    border: none;
  }

  nav ul li a{
    width: 80%;
    display: block;
  }

  h1,h2,h3,h4,h5{
    display: block;
    width: 100%;
  }

  .images_home, .topimage, .instructors_1, .instructors_2, .row1, .row2{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
  }

  .images_home figure, .instructors_1 figure, .instructors_2 figure, .row1 figure, .row2 figure {
    width: 100%;
    align-self: center;
  }

  .topimage figure{
    flex-grow: 1;
    align-self: center;
    max-width: 100%;
  }

  img{
    width: 100%;
    height: auto;
    text-align: center;
  }

}
